<!-- Cửa sổ dialog thêm 1 sản phẩm mới -->
<p-dialog [(visible)]="show" 
    
    (onHide)="onHide()"
    [style]="{ width: '50rem' }" 
    header="Chi tiết sản phẩm" 
    [modal]="true"
    styleClass="p-fluid">
    <form *ngIf="!loading; else loadingTemplate" [formGroup]="updateProductForm"
            (ngSubmit)="updateProduct()">
            <div class="mb-3">
                <label for="name" class="form-label">Tên sản phẩm</label>
                <input
                    type="text"
                    formControlName="name"
                    id="name"
                    class="form-control"
                />
            </div>
            <div class="mb-3">
                <label for="slug" class="form-label">Url</label>
                <input
                    type="text"
                    formControlName="slug"
                    class="form-control"
                />
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Giá sản phẩm</label>
                <input
                    type="number"
                    formControlName="price"
                    class="form-control"
                />
            </div>
            <div class="mb-3">
                <label for="discount" class="form-label">Giảm giá (%)</label>
                <input
                    type="number"
                    formControlName="discount"
                    class="form-control"
                />
            </div>
            <div class="mb-3">
                <label for="categoryId" class="form-label">Thể loại</label>
                <select *ngIf="adminService.categories()"
                    formControlName="categoryId" class="form-select">
                    <option *ngFor="let item of adminService.categories()" [value]="item.id">{{item.name}}</option>
                </select>
            </div>

            <div *ngIf="productColors" class="mb-3">Màu sản phẩm
                @for (item of productColors; track $index) {
                    <div class="m-3">
                        <input
                        [checked]="item.checked"
                        type="checkbox"
                        name="productColor"
                        class="form-check-input"
                        [value]="item.id"
                        (change)="onColorChange(item.id, $event)"
                    />
                    <label for="productColor" class="form-label text">{{item.name}}</label>
                    <span style="height: 15px; width: 15px; display: inline-block;"
                    [ngStyle]="{'background-color': item.colorCode}"></span>
                    </div>
                }
            </div>

            <div *ngIf="productSizes" class="mb-3">Size sản phẩm
                @for (item of productSizes; track $index) {
                    <div class="m-3">
                        <input
                            [checked]="item.checked"
                            type="checkbox"
                            class="form-check-input"
                            name="productSize"
                            [value]="item.id"
                            (change)="onSizeChange(item.id, $event)"
                        />
                        <label for="productSize" class="form-label text">{{item.name}}</label>
                    </div>
                }
                
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Mô tả</label>
                <p-editor formControlName="description"  [style]="{ height: '150px' }" />
            </div>

            @for (img of product.productImages; track $index) {
                <div class="d-inline-flex m-2">
                    <div class="col-2 list-group">
                        <img src="{{img.imageUrl}}" alt="" class="img-thumbnail p-1">
                        <div class="text-center d-flex">
                            <button 
                                [disabled]="img.isMain"
                                (click)="setMainPhoto(product.id, img)"
                                [ngClass]='img.isMain ? "btn-success active" : "btn-outline-success"'
                                class="btn btn-sm"
                                >Main</button>
                            <button 
                                [disabled]="img.isSub"
                                (click)="setSubPhoto(product.id, img)"
                                [ngClass]='img.isSub ? "btn-success active" : "btn-outline-success"'
                                class="btn btn-sm"
                                >Sub</button>
                            <button 
                                [disabled]="img.isMain || img.isSub"
                                (click)="deleteImage(product.id ,img.id)"
                                class="btn btn-sm btn-danger"
                                ><i class="pi pi-trash"></i></button>
                        </div>
                    </div>
                </div>
                
            }

            <div class="container">
                <p-fileUpload #fileUpload
                    [customUpload]="true"
                    (onUpload)="fileHandle($event)" 
                    (uploadHandler)="onUpload($event)" 
                    [multiple]="true" 
                    accept="image/*" 
                    maxFileSize="1000000">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">
                                    {{ file.name }} - {{ file.size }} bytes
                                </li>
                            </ul>
                        </ng-template>
                </p-fileUpload>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success m-3"
                    [disabled]="isLoading">Lưu
                <i *ngIf="isLoading" class="pi pi-spinner mx-1"></i>
            </button>
            </div>
            
        </form>
        <ng-template #loadingTemplate>
            <p>Loading...</p> <!-- Hiển thị khi đang tải dữ liệu -->
          </ng-template>
</p-dialog>