.container {
    margin: 100px 0;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #ffffff;
}

h4 {
    margin-bottom: 20px;
}

.d-flex {
    align-items: center;
    margin-bottom: 10px;
}

p {
    margin: 0;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.table {
    width: 100%;
    font-size: 1.25rem;
}

.table th, .table td {
    padding: 15px;
    text-align: center;
}

.table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.table-bordered {
    border: 2px solid #dee2e6;
}

.table-bordered th, .table-bordered td {
    border: 2px solid #dee2e6;
}

button {
    position: relative;
  display: inline-block;
  padding: 10px 28px;
  line-height: normal;
  color: #fff;
  border: 1px solid #000;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  background-color: transparent;
  -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  overflow: hidden;
}

button:hover {
    color: black;
  background-color: white;
}

button:hover::before {
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

button::before {
  position: absolute;
  content: '';
  display: block;
  left: -2px;
  top: 0;
  right: -2px;
  bottom: 0;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  z-index: -1;
  background-color: #000;
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}