::ng-deep div.col-2.d-flex.justify-content-center.align-self-center {
  width: 12%;
}

::ng-deep
  button.p-element.p-button-icon-only.p-button-secondary.p-inputnumber-button.p-inputnumber-button-down.p-button.p-component.ng-star-inserted,
::ng-deep
  button.p-element.p-button-icon-only.p-button-secondary.p-inputnumber-button.p-inputnumber-button-up.p-button.p-component.ng-star-inserted {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 12px;
}

::ng-deep input.p-inputtext.p-component.p-element.p-inputnumber-input.p-filled {
  border: none;
}

::ng-deep .p-inputtext {
  padding: 0;
  width: 35px;
  text-align: center;
  border: none;
}

::ng-deep div.col-2.text-center.align-self-center > p {
  margin: auto;
}

::ng-deep div.col-1.m-auto h5 {
  display: inline-flex;
  width: 150px;
}

::ng-deep div.col-1.m-auto .d-flex.justify-content-between.p-2 {
  margin-top: 30px;
  width: 200px;
}

::ng-deep div.col-1.m-auto button {
  margin-top: 30px;
  width: 150px;
  position: relative;
  display: inline-block;
  padding: 10px 28px;
  line-height: normal;
  color: #fff;
  border: 1px solid #000;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  background-color: transparent;
  -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  overflow: hidden;
}

::ng-deep div.col-1.m-auto button:hover {
  color: black;
  background-color: white;
}

::ng-deep div.col-1.m-auto button:hover::before {
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

::ng-deep div.col-1.m-auto button::before {
  position: absolute;
  content: "";
  display: block;
  left: -2px;
  top: 0;
  right: -2px;
  bottom: 0;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  z-index: -1;
  background-color: #000;
  -webkit-transition: -webkit-transform 0.45s
    cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.container > .row{
    margin-top: 30px;
}