<div class="card">
    <p-table #dt [value]="products"
        [rows]="10" [globalFilterFields]="['name', 'category', 'price']"
        [tableStyle]="{ 'min-width': '75rem' }"  [rowHover]="true"
        >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between m-2">
                <h2 class="m-0">Quản lý kho</h2>
                <div class="d-flex justify-content-between mt-3">
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Tìm kiếm..." />
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                
                <th pSortableColumn="id" style="width: 5%;">Mã sản phẩm </th>
                <th pSortableColumn="name" style="min-width: 4rem">Tên sản phẩm<p-sortIcon field="name" />
                </th>
                <th style="min-width: 7rem">Url</th>
                <th style="width: 8%;">Ảnh</th>
                <th pSortableColumn="category" style="width: 10%">Thể loại<p-sortIcon field="category" /></th>
                <th pSortableColumn="description" style="width: 8%">Giá</th>
                <th pSortableColumn="discount" style="width: 8%">Giảm giá (%)<p-sortIcon field="discount" /></th>
                <th style="width: 15%;">Màu sắc</th>
         

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr (click)="updateQuantityDialog(product.slug)">
                <td>
                    {{ product.id }}
                </td>
                <td>
                    {{ product.name }}
                </td>
                <td>
                    {{ product.slug }}
                </td>
                <td>
                    <img src="{{product.mainPhoto || '../../../../../assets/no-image.svg'}}" alt="">
                </td>
                <td>
                    {{ product.category }}
                </td>
                <td>
                    {{ product.price | number:'1.0':'en-US' }}đ
                </td>
                <td>
                    {{ product.discount }}%
                </td>
                <td class="m-2">
                    @for (item of product.productColors; track $index) {
                        
                        {{ item.name }}
                        <span style="height: 15px; width: 15px; display: inline-block; border-radius: 20%;"
                        [ngStyle]="{'background-color': item.colorCode}"></span>
                        
                    }
                </td>
            </tr>
        </ng-template>
    </p-table>
    @if(pagination) {
        <div class="flex justify-content-center">
            <p-paginator 
                (onPageChange)="pageChanged($event)"
                [rows]="pagination.itemsPerPage" 
                [totalRecords]="pagination.totalItems" 
                />
        </div>
    }

</div>

<app-update-quantity-dialog [(show)]="toggleQuantityDialog" [slug]="selectedProduct"></app-update-quantity-dialog>
