<div class="card">
    <p-table #dt [value]="products"
        [rows]="10" [globalFilterFields]="['name', 'category', 'price']"
        [tableStyle]="{ 'min-width': '75rem' }"  [rowHover]="true"
        >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between caption__heading">
                <h5 class="m-0">Manage Products</h5>
                <span class="p-input-icon-left search__wrap">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Tìm kiếm..." />
                    <button class="btn btn-success" (click)="createProductDialog()">Thêm sản phẩm</button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                
                <th pSortableColumn="id" style="width: 5%;">Mã sản phẩm </th>
                <th pSortableColumn="name" style="min-width: 4rem">Tên sản phẩm<p-sortIcon field="name" />
                </th>
                <th pSortableColumn="price">Ảnh</th>
                <th style="min-width: 7rem">Url</th>
                <th pSortableColumn="category" style="min-width: 5rem">Thể loại<p-sortIcon field="category" /></th>
                <th pSortableColumn="description" style="min-width: 10rem">Giá</th>
                <th pSortableColumn="discount">Giảm giá (%)<p-sortIcon field="discount"/></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td class="product-id">
                    {{ product.id }}
                </td>
                <td>
                    {{ product.name }}
                </td>
                <td>
                    <img src="{{product.mainPhoto || '../../../../../assets/no-image.svg'}}" alt="">
                </td>
                <td>
                    {{ product.slug }}
                </td>
                <td>
                    {{ product.category }}
                </td>
                <td>
                    {{ product.price }} đ
                </td>
                <td>
                    {{ product.discount }}
                </td>
                
                <!-- <td>
                    <div class="color-box" [ngStyle]="{'background-color': product.colorCode}"></div>
                </td> -->
                <td>
                    <p-button class="btn-warehouse" icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                        severity="success" (onClick)="updateProductDialog(product.slug)" />
                    <p-button class="btn-warehouse" icon="pi pi-trash" severity="danger" [rounded]="true"
                        [outlined]="true" (onClick)="confirmDeleteAction($event, product.id)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
    @if(pagination) {
        <div class="flex justify-content-center">
            <p-paginator 
                (onPageChange)="pageChanged($event)"
                [rows]="pagination.itemsPerPage" 
                [totalRecords]="pagination.totalItems" 
                />
        </div>
    }

</div>

<app-create-product-dialog [(show)]="toggleCreateDialog"></app-create-product-dialog>
<app-update-product-dialog [(show)]="toggleUpdateDialog" [slug]="selectedProductSlug"></app-update-product-dialog>

 <div class="card flex justify-content-center gap-2">
    <p-confirmDialog />
</div>