<div class="container" style="margin: 100px auto;">
    @if(orderDetail) {
        <div class="row">
            <h2>Chi tiết đơn hàng</h2>
            <h5 class="order-id">Mã đơn hàng: {{orderDetail.id}}</h5>
            <span><label for="">Người nhận:</label> <p>{{orderDetail.fullname}}</p></span>
            <span><label for="">Số điện thoại:</label> <p>{{orderDetail.phoneNumber}}</p></span>
            <span><label for="">Email:</label> <p>{{orderDetail.email}}</p></span>
            <span><label for="">Địa chỉ:</label> <p>{{orderDetail.address}}</p></span>
            <span><label for="">Ngày tạo:</label> <p>{{orderDetail.createAt | date:'dd/MM/yyyy, HH:mm a'}}</p></span>
            <span><label for="">Phương thức thanh toán:</label> <p>{{orderDetail.paymentMethod}}</p></span>
            @if(orderDetail.paymentMethod != 'COD') {
                <span><label for="">Nhà cung cấp:</label> <p>{{orderDetail.provider}}</p></span>
                <span><label for="">Mã giao dịch:</label> <p>{{orderDetail.transactionId}}</p></span>
            }
            
        </div>
        <table class="table table-striped">
            <thead>
                <tr style="font-size: large;">
                    <th>Sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Giảm giá %</th>
                </tr>
            </thead>
            <tbody>
                @for (item of orderDetail.orderItems; track $index) {
                    <tr>
                        <td>
                            <app-checkout-item-card [item]="item"></app-checkout-item-card>
                        </td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.price}} đ</td>
                        <td>{{item.discount}}</td>
                        <!-- <td>{{item.paymentMethod}}</td> -->
                        <!-- @if(item.status == 0) {
                            <td>Đang xử lý</td>
                        } @else {
                            <td>{{item.status}}</td>
                        } -->
                    </tr>
                }
        </table>

        <div class="row total">
            <div class="col list-group">
                <span>Phí vận chuyển:</span>
                <span>Voucher:</span>
                <span>Thành tiền:</span>
            </div>
            <div class="col list-group">
                <span>25000 đ</span>
                <span>0</span>
                <span class="total__amount">{{orderDetail.amount}} đ</span>
            </div>
            <!-- <div class="col"></div>
            <span>Phí vận chuyển: 25000 đ</span>
            <span>Voucher: </span>
            <span>Thành tiền: {{orderDetail.amount}} VNĐ</span> -->

        </div>
    }
    
    <div class="d-inline-flex">
        <a href="/account" style="text-decoration: none;"><i class="pi pi-arrow-left"></i> Quay lại</a>
    </div>
</div>