<div class="container" style="margin: 100px auto;">
    @if(orderDetail) {
        <div class="row">
            <h2>Chi tiết đơn hàng</h2>
            <h5 class="order-id">Mã đơn hàng: {{orderDetail.id}}</h5>
            <span><label for="">Người nhận:</label> <p>{{orderDetail.fullname}}</p></span>
            <span><label for="">Số điện thoại:</label> <p>{{orderDetail.phoneNumber}}</p></span>
            <span><label for="">Email:</label> <p>{{orderDetail.email}}</p></span>
            <span><label for="">Địa chỉ:</label> <p>{{orderDetail.address}}</p></span>
            <span><label for="">Ngày tạo:</label> <p>{{orderDetail.createAt | date:'dd/MM/yyyy, HH:mm a'}}</p></span>
            <span><label for="">Phương thức thanh toán:</label> <p>{{orderDetail.paymentMethod}}</p></span>
            @if(orderDetail.paymentMethod != 'COD') {
                <span><label for="">Nhà cung cấp:</label> <p>{{orderDetail.provider}}</p></span>
                <span><label for="">Trạng thái: </label>
                    @switch (orderDetail.paymentStatus) {
                        @case (true) {
                            <p class="text-success">Thanh toán thành công</p>
                        }
                        @case (false) {
                            <p class="text-danger">Thanh toán thất bại</p>
                        }
                    }
                </span>
                <span><label for="">Mã giao dịch:</label> <p>{{orderDetail.transactionId}}</p></span>
                
            }
            
        </div>
        <table class="table table-striped">
            <thead>
                <tr style="font-size: large;">
                    <th>Sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Giảm giá %</th>
                </tr>
            </thead>
            <tbody>
                @for (item of orderDetail.orderItems; track $index) {
                    <tr>
                        <td>
                            <div class="d-flex">
                                <img  src="{{item.photo || '../../../../../../assets/no-image.svg'}}"
                                    alt="" style="height: 100px; width: 65px;">
                                <div class="list-group p-3" style="font-size: smaller;">
                                    <h6 style="font-size: medium;">{{item.name}}</h6>
                                    <div class="d-flex" style="font-size: medium;">
                                        <span>{{item.color}}</span>
                                        <span> / </span>
                                        <span>{{item.size}}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.price | number:'1.0':'en-US'}}đ</td>
                        <td>{{item.discount}}</td>
                    </tr>
                }
        </table>

        <div class="row total">
            <div class="col list-group">
                <span>Phí vận chuyển:</span>
                <span>Voucher:</span>
                <span>Thành tiền:</span>
            </div>
            <div class="col list-group">
                <span>{{orderDetail.shippingFee | number:'1.0':'en-US'}}</span>
                <span>0</span>
                <span class="total__amount">{{orderDetail.amount | number:'1.0':'en-US'}}đ</span>
            </div>

        </div>
    }
    
    <div class="d-inline-flex">
        <a routerLink="/account" style="text-decoration: none;"><i class="pi pi-arrow-left"></i> Quay lại</a>
    </div>
</div>