<div class="card flex justify-content-center" style="margin: 200px auto;">
    <p-dialog 
        [modal]="true"
        [(visible)]="show" 
        (onHide)="onHide()"
        [style]="{ width: '50rem' }" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <form [formGroup]="createProductForm"
            (ngSubmit)="createProduct()">
            <div class="mb-3">
                <label for="name" class="form-label">Tên sản phẩm</label>
                <input
                    type="text"
                    formControlName="name"
                    id="name"
                    class="form-control"
                />
            </div>
            <div class="mb-3">
                <label for="slug" class="form-label">Url</label>
                <input
                    type="text"
                    formControlName="slug"
                    class="form-control"
                />
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Giá sản phẩm</label>
                <input
                    type="number"
                    formControlName="price"
                    class="form-control"
                />
            </div>
            <div class="mb-3">
                <label for="discount" class="form-label">Giảm giá (%)</label>
                <input
                    type="number"
                    formControlName="discount"
                    class="form-control"
                />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Mô tả</label>
                <p-editor formControlName="description"  [style]="{ height: '150px' }" />
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Thể loại</label>
                <select *ngIf="categories"
                    formControlName="category" class="form-select">
                    <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
                </select>
            </div>
            <div *ngIf="colors" class="mb-3">Màu sản phẩm
                @for (item of colors; track $index) {
                    <div class="m-3">
                        <input
                        type="checkbox"
                        name="productColor"
                        class="form-check-input"
                        [value]="item.id"
                        (change)="onColorChange(item.id, $event)"
                    />
                    <label for="productColor" class="form-label text">{{item.name}}</label>
                    <span style="height: 15px; width: 15px; display: inline-block;"
                    [ngStyle]="{'background-color': item.colorCode}"></span>
                    </div>
                    
                }
                
            </div>

            <div *ngIf="sizes" class="mb-3">Size sản phẩm
                @for (item of sizes; track $index) {
                    <div class="m-3">
                        <input
                        type="checkbox"
                        class="form-check-input"
                        name="productSize"
                        [value]="item.id"
                        (change)="onSizeChange(item.id, $event)"
                        />
                        <label for="productSize" class="form-label text">{{item.name}}</label>
                    </div>
                }
                
            </div>

            <button type="submit" class="btn btn-success">Thêm sản phẩm</button>
        </form>
    </p-dialog>

    <!-- <div class="container">
        <p-fileUpload 
            [customUpload]="true"
            (onUpload)="fileHandle($event)" 
            (uploadHandler)="onUpload($event)" 
            [multiple]="true" 
            accept="image/*" 
            maxFileSize="1000000">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">
                            {{ file.name }} - {{ file.size }} bytes
                        </li>
                    </ul>
                </ng-template>
        </p-fileUpload>
    </div> -->

</div>