<div class="card flex justify-content-center" style="margin: 200px auto;">
    <p-dialog 
        [modal]="true"
        [(visible)]="show" 
        (onHide)="onHide()"
        [style]="{ width: '50rem' }" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <form [formGroup]="createProductForm"
            (ngSubmit)="createProduct()">
            <div class="mb-3">
                <label for="name" class="form-label">Tên sản phẩm</label>
                <input
                    type="text"
                    formControlName="name"
                    id="name"
                    class="form-control"
                />
            </div>
            <div class="mb-3">
                <label for="slug" class="form-label">Url</label>
                <input
                    type="text"
                    formControlName="slug"
                    class="form-control"
                />
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Giá sản phẩm</label>
                <input
                    type="number"
                    formControlName="price"
                    class="form-control"
                />
            </div>
            <div class="mb-3">
                <label for="discount" class="form-label">Giảm giá (%)</label>
                <input
                    type="number"
                    formControlName="discount"
                    class="form-control"
                />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Mô tả</label>
                <p-editor formControlName="description"  [style]="{ height: '150px' }" />
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Thể loại</label>
                <select *ngIf="adminService.categories()"
                    formControlName="category" class="form-select">
                    <option *ngFor="let item of adminService.categories()" [value]="item.id">{{item.name}}</option>
                </select>
            </div>
            <div *ngIf="adminService.colors()" class="mb-3">Màu sản phẩm
                <div class="row">
                    @for (item of adminService.colors(); track $index) {
                        <div class="m-3 col-2">
                            <input
                            type="checkbox"
                            name="productColor"
                            class="form-check-input"
                            [value]="item.id"
                            (change)="onColorChange(item.id, $event)"
                        />
                        <label for="productColor" class="form-label mx-2">{{item.name}}</label>
                        <span style="height: 15px; width: 15px; display: inline-block; border-radius: 20%;"
                        [ngStyle]="{'background-color': item.colorCode}"></span>
                        </div>
                        
                    }
                </div>
            </div>

            <div *ngIf="adminService.sizes()" class="mb-3">Size sản phẩm
                <div class="row">
                    @for (item of adminService.sizes(); track $index) {
                        <div class="m-3 col-2">
                            <input
                            type="checkbox"
                            class="form-check-input"
                            name="productSize"
                            [value]="item.id"
                            (change)="onSizeChange(item.id, $event)"
                            />
                            <label for="productSize" class="form-label mx-2">{{item.name}}</label>
                        </div>
                    }
                </div>
                
            </div>

            <div class="mb-3"> Ảnh sản phẩm   
                <div class="row">
                    <div class="col m-2">
                        <div class="card flex justify-content-center">
                            <p-fileUpload
                                (onSelect)="onSelectedFile($event, 'mainImage')"
                                [multiple]="false" 
                                accept="image/*" 
                                showUploadButton="false"
                                showCancelButton="false"
                                maxFileSize="1000000">
                            </p-fileUpload>
                        </div>
                        <label class="mt-1" style="font-weight: bold;">Ảnh chính</label>
                    </div>
    
                    <div class="col m-2">
                        <div class="card flex justify-content-center">
                            <p-fileUpload 
                                (onSelect)="onSelectedFile($event, 'subImage')"
                                [multiple]="false" 
                                accept="image/*" 
                                showUploadButton="false"
                                showCancelButton="false"
                                maxFileSize="1000000">
                            </p-fileUpload>
                        </div>
                        <label class="mt-1" style="font-weight: bold;">Ảnh phụ</label>
                    </div>
                </div>

                <div class="row ">
                    <p-fileUpload
                        (onSelect)="onSelectedFile($event, 'productImages')"
                        [multiple]="true" 
                        accept="image/*" 
                        maxFileSize="1000000">
                    </p-fileUpload>
                </div>
                
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success"
                    [disabled]="isLoading">Thêm sản phẩm
                    <i *ngIf="isLoading" class="pi pi-spinner"></i>
                </button>
            </div>
        </form>
    </p-dialog>

    

</div>